<%- include( 'common/_meta',
{
	title: 'タイトル',
	description: 'ディスクリプション',
	keyword: 'キーワード1,キーワード2',
} ) %>
<%- include( 'common/_header' ) %>
<%- include( 'common/_mv-top' ) %>

<main class="content">

</main><!-- /content -->

<%- include ( 'common/_footer' ) %>
<%- include ( 'common/_script' ) %>
